HELP.md
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
Thumbs.db

# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar

# Environment variables (GİZLİ BİLGİLER)
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
src/main/resources/serviceAccountKey.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

# Java
*.class
*.jar
*.war
*.log



